# ==============================
# 通用编译目录
# ==============================
Debug/
Release/
build/
cmake-build-*/

# ==============================
# STM32CubeIDE 编译目录
# ==============================
Debug/
Release/

# ==============================
# Keil MDK 编译目录
# ==============================
Objects/
Listings/

# 防止这些目录位于 MDK-ARM 等子目录时未被忽略
**/Objects/
**/Listings/

# ==============================
# Keil 编译生成文件
# ==============================
*.o
*.obj
*.d
*.dep
*.crf
*.elf
*.axf
*.hex
*.bin
*.map
*.list
*.lst
*.lnp
*.su
*.htm
*.html
*.build_log.htm
*.iex

# ==============================
# Keil 用户配置和调试文件
# ==============================
*.uvguix.*
*.uvopt
*.uvoptx
*.sct.bak
*.dbgconf
*.scvd

# Keil 调试目录及记录
DebugConfig/
*.ini
*.log

# ==============================
# J-Link 调试生成文件
# ==============================
JLinkLog.txt
JLinkSettings.ini
*.jlink
*.jlinklog

# ==============================
# 编辑器配置
# ==============================
.vscode/
.idea/

# ==============================
# 临时文件和备份文件
# ==============================
*.tmp
*.bak
*.orig
*.swp
*~
.DS_Store
Thumbs.db
